<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>A propos de moi</h2>
        <img
          src="assets/photo.jpg"
          alt="photo.jpg"
          class="rounded-circle"
          style="max-width: 20%; height: auto"
        />
        <p>
          Le Lorem Ipsum est simplement du faux texte employé dans la
          composition et la mise en page avant impression. Le Lorem Ipsum est le
          faux texte standard de l'imprimerie depuis les années 1500, quand un
          imprimeur anonyme assembla ensemble des morceaux de texte pour
          réaliser un livre spécimen de polices de texte. Il n'a pas fait que
          survivre cinq siècles, mais s'est aussi adapté à la bureautique
          informatique, sans que son contenu n'en soit modifié. Il a été
          popularisé dans les années 1960 grâce à la vente de feuilles Letraset
          contenant des passages du Lorem Ipsum, et, plus récemment, par son
          inclusion dans des applications de mise en page de texte, comme Aldus
          PageMaker.
        </p>
      </div>
    </div>

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Mes projets</h2>
        <h4>{{featuredProject.name}}</h4>
        <p>
          Description de vos projets ici. N'hésitez pas à ajouter des détails
          sur vos réalisations.
        </p>
      </div>
    </div>
  </div>
</div>
