<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>A propos de moi</h2>
        <img
          src="assets/photo.jpg"
          alt="photo.jpg"
          class="rounded-circle"
          style="max-width: 20%; height: auto"
        />
        <p>
          ingénieur en informatique polyvalent et passionné par la programmation
          et les défis techniques. Mon parcours est riche et pluridisciplinaire,
          avec une spécialisation en réseaux informatiques, en développement
          d'interfaces graphiques et en programmation web. J'ai acquis une
          solide expérience en gestion de projets logiciels ainsi qu’en systèmes
          de gestion de bases de données. Mon expertise couvre aussi
          l'administration des systèmes d'exploitation, l'algorithmique,
          notamment les algorithmes des graphes, et de nombreuses compétences en
          programmation dans divers langages, comme Python, Java et C.
          J’apprécie particulièrement relever des challenges en informatique, et
          j’ai aussi des connaissances en sécurité informatique, mise en place
          de DNS, ainsi qu'en technologies de pointe telles que le cloud, les
          bases de données et l'intelligence artificielle.
        </p>
      </div>
    </div>

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Mes projets</h2>
        <h4>{{ featuredProject.name }}</h4>
      </div>
      <carousel [interval]="3000">
        <div *ngFor="let image of featuredProject.pictures">
          <slide>
            <img
              [src]="image"
              alt="Project image"
              style="display: block; width: 100%"
            />
          </slide>
        </div>
      </carousel>
      <p class="mt-2">
        {{ featuredProject.description }}
      </p>
      <p class="mt-2">Voir le portfolio pour plus de détails</p>
    </div>
  </div>
</div>
