<div class="container">
  <div class="mb-2">
    <div class="mb-2">
      <div>
        <button
          class="btn btn-outline-primary mb-2 me"
          (click)="isCollapsed = !isCollapsed"
        >
          FILTRE
        </button>
        <button
          class="btn btn-outline-secondary mb-2 me"
          [hidden]="filtering"
          (click)="ResetFilters()"
        >
          Reset
        </button>
      </div>
      <div [collapse]="isCollapsed" [isAnimated]="true">
        <div class="border mb-2 shadow-sm" style="width: 250px">
          <form>
            <div class="row mx-0">
              <div class="col">
                <small><b>Languages:</b></small>
                <div class="form-group">
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="python"
                      (change)="Filter()"
                      name="Python"
                    />
                    <label class="form-check-label small">Python</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="javascript"
                      (change)="Filter()"
                      name="JavaScript"
                    />
                    <label class="form-check-label small">JavaScript</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="java"
                      (change)="Filter()"
                      name="Java"
                    />
                    <label class="form-check-label small">Java</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="typescript"
                      (change)="Filter()"
                      name="TypeScript"
                    />
                    <label class="form-check-label small">TypeScript</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="csharp"
                      (change)="Filter()"
                      name="C#"
                    />
                    <label class="form-check-label small">C#</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="cpp"
                      (change)="Filter()"
                      name="C++"
                    />
                    <label class="form-check-label small">C++</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="ruby"
                      (change)="Filter()"
                      name="Ruby"
                    />
                    <label class="form-check-label small">Ruby</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="php"
                      (change)="Filter()"
                      name="PHP"
                    />
                    <label class="form-check-label small">PHP</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="swift"
                      (change)="Filter()"
                      name="Swift"
                    />
                    <label class="form-check-label small">Swift</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="kotlin"
                      (change)="Filter()"
                      name="Kotlin"
                    />
                    <label class="form-check-label small">Kotlin</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="go"
                      (change)="Filter()"
                      name="Go"
                    />
                    <label class="form-check-label small">Go</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="rust"
                      (change)="Filter()"
                      name="Rust"
                    />
                    <label class="form-check-label small">Rust</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="html"
                      (change)="Filter()"
                      name="HTML"
                    />
                    <label class="form-check-label small">HTML</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="json"
                      (change)="Filter()"
                      name="JSON"
                    />
                    <label class="form-check-label small">JSON</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="xml"
                      (change)="Filter()"
                      name="XML"
                    />
                    <label class="form-check-label small">XML</label>
                  </div>
                </div>
              </div>
              <div class="col">
                <small><b>Frameworks:</b></small>
                <div class="form-group">
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="django"
                      (change)="Filter()"
                      name="Django"
                    />
                    <label class="form-check-label small">Django</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="react"
                      (change)="Filter()"
                      name="React"
                    />
                    <label class="form-check-label small">React</label>
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input position-static me-2"
                      [(ngModel)]="nestjs"
                      (change)="Filter()"
                      name="NestJS"
                    />
                    <label class="form-check-label small">NestJS</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let project of projects"
      class="col-lg-4 col-md-6 mb-4"
      style="max-width: 380px; min-width: 380px"
    >
      <app-project-card [project]="project"></app-project-card>
    </div>
  </div>
</div>
