<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>contact</h1>
    <p>
      Vous pouvez me contacter à l'adresse email suivante:
      <a href="mailto:jbuisserethPro&#64;outlook.fr"
        ><b>jbuisserethPro&#64;outlook.fr</b></a
      >
    </p>
    <p>Hesitez pâs également à vous connectez à un des mes réseaux suivants:</p>
  </div>
  <div class="list-group shadow">
    <a
      href="https//linkdin.com"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      ><img
        src="../../assets/linkdin.png"
        width="32"
        height="32"
        alt=""
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">Linkdin</h3>
    </a>

    <a
      href="https//github.com"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/git.png"
        width="32"
        height="32"
        alt=""
        class="rounded-circle flex-shrink-0 me-5"
      />
      <h3 class="mb-0">Github</h3></a
    >
  </div>
</div>
